---
services:
  postgres:
    image: postgres:16
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
      - postgres:/var/lib/postgres

  backend:
    build: ./backend
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build: ./frontend

  caddy:
    image: caddy:2.6-alpine
    depends_on:
      - frontend
      - backend
    env_file: .env
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"

volumes:
  postgres:
  caddy_data:
  caddy_config:
