---
name: Backend

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

defaults:
  run:
    working-directory: ./backend

jobs:
  format:
    name: Format Check
    runs-on: ubuntu-latest
    container: gradle:jdk21-alpine

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Check formatting
        run: gradle spotlessCheck

  test:
    name: Test
    runs-on: ubuntu-latest
    container: gradle:jdk21-alpine

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test
        run: gradle test

  quality:
    name: Lint
    runs-on: ubuntu-latest
    container: gradle:jdk21-alpine

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Lint
        run: gradle spotbugsMain