<div class="text-center mt-3">
  <h1 class="text-5xl mt-2">Welcome to YAC</h1>
  <p class="mt-2">Start a new private Chat by entering someones username</p>
  <form class="mt-2 h-15 flex items-center gap-3" [formGroup]="requestChatForm">
    <input
      class="border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-indigo-400 rounded-lg w-4/5 h-full text-3xl p-3"
      formControlName="targetUsername"
      type="text"
      placeholder="Enter username here"
    />
    <button
      type="submit"
      class="w-1/5 h-full text-2xl bg-indigo-300 rounded-lg"
    >
      Request chat
    </button>
  </form>
</div>
